In [6]:
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import time
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

In [1]:
ourschema="""
DROP TABLE IF EXISTS "candidates";
DROP TABLE IF EXISTS "contributors";
CREATE TABLE "candidates" (
    "id" INTEGER PRIMARY KEY  NOT NULL ,
    "first_name" VARCHAR,
    "last_name" VARCHAR,
    "middle_name" VARCHAR,
    "party" VARCHAR NOT NULL
);
CREATE TABLE "contributors" (
    "id" INTEGER PRIMARY KEY  AUTOINCREMENT  NOT NULL,
    "last_name" VARCHAR,
    "first_name" VARCHAR,
    "middle_name" VARCHAR,
    "street_1" VARCHAR,
    "street_2" VARCHAR,
    "city" VARCHAR,
    "state" VARCHAR,
    "zip" VARCHAR,
    "amount" INTEGER,
    "date" DATETIME,
    "candidate_id" INTEGER NOT NULL,
    FOREIGN KEY(candidate_id) REFERENCES candidates(id)
);
"""

In [2]:
from sqlite3 import dbapi2 as sq3
import os
PATHSTART="."
def get_db(dbfile):
    sqlite_db = sq3.connect(os.path.join(PATHSTART, dbfile))
    return sqlite_db

In [3]:
def init_db(dbfile, schema):
    """Creates the database tables."""
    db = get_db(dbfile)
    db.cursor().executescript(schema)
    db.commit()
    return db

In [12]:
dfcand=pd.read_csv("./candidates.txt", sep='|')
#dfcand

In [13]:
del dfcand['id']
dfcand.head()

    first_name  last_name middle_name party
0       Joseph      Biden         NaN     D
1       Samuel  Brownback         NaN     R
2      Hillary    Clinton          R.     D
3  Christopher       Dodd          J.     D
4         John    Edwards         NaN     D

In [14]:
db=init_db("cancont.db", ourschema)

In [15]:
dfcand.to_sql("candidates", db, if_exists="append", index=False)

In [16]:
sel="""
SELECT * FROM candidates;
"""
c=db.cursor().execute(sel)

In [17]:

c.fetchall()

[(1, 'Joseph', 'Biden', None, 'D'),
 (2, 'Samuel', 'Brownback', None, 'R'),
 (3, 'Hillary', 'Clinton', 'R.', 'D'),
 (4, 'Christopher', 'Dodd', 'J.', 'D'),
 (5, 'John', 'Edwards', None, 'D'),
 (6, 'Rudolph', 'Giuliani', None, 'R'),
 (7, 'Mike', 'Gravel', None, 'D'),
 (8, 'Mike', 'Huckabee', None, 'R'),
 (9, 'Duncan', 'Hunter', None, 'R'),
 (10, 'Dennis', 'Kucinich', None, 'D'),
 (11, 'John', 'McCain', None, 'R'),
 (12, 'Barack', 'Obama', None, 'D'),
 (13, 'Ron', 'Paul', None, 'R'),
 (14, 'Bill', 'Richardson', None, 'D'),
 (15, 'Mitt', 'Romney', None, 'R'),
 (16, 'Tom', 'Tancredo', None, 'R'),
 (17, 'Fred', 'Thompson', 'D.', 'R')]

In [19]:
dfcand.head()

    first_name  last_name middle_name party
0       Joseph      Biden         NaN     D
1       Samuel  Brownback         NaN     R
2      Hillary    Clinton          R.     D
3  Christopher       Dodd          J.     D
4         John    Edwards         NaN     D

In [22]:
dfcand.query("index == 0")

  first_name last_name middle_name party
0     Joseph     Biden         NaN     D